@font-face {
    font-family: myFont;
    src: url('./font/Spinnaker-Regular.ttf');
}

@font-face {
    font-family: myOtherFont;
    src: url('./font/hotpizza.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
}

body {
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

a {
    position: fixed;
    opacity: 0.5;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.4s ease;
}

a:hover {
    opacity: 0.8;
}

.container {
    width: 30%;
    height: 300px;
    margin-top: 100px;
    display: inline-block;
    border-radius: 35px;
    text-align: center;
}

h1 {
    font-family: myOtherFont;
    color: rgb(252, 250, 217);
    font-size: 2.2rem;
    text-shadow: 1px 1px 10px rgb(20, 18, 18);
}

input[type="number"] {
    margin-top: 28px;
    padding: 12px;
    padding-left: 13px;
    width: 340px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    background-color: rgb(252, 250, 217);
}

input[type="number"]::placeholder {
    color: rgb(182, 180, 148);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    margin-top: 28px;
    padding: 12px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    outline: none;
    background-color: rgb(87, 83, 83);
    color: rgb(252, 250, 217);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgb(124, 120, 120);
}