@font-face {
    font-family: myFont;
    src: url('./font/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: myOtherFont;
    src: url('./font/BuffaloChicken-gA8P.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
}

body {
    background-color: rgb(153, 8, 8);
    background-image: url('../images/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

a {
    position: fixed;
    opacity: 0.5;
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.4s ease;
}

a:hover {
    opacity: 0.8;
}

.container {
    width: 100%;
    margin-top: 18px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

#bbqImg {
    height: 190px;
}

.divC {
    border: none;
    outline: none;
    font-size: 0.9rem;
}

input {
    padding: 13px;
    width: 35%;
    margin-bottom: 28px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;
    font-size: 1em;
    background-color: rgb(252, 250, 217);
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
}

input::placeholder {
    color: rgb(182, 180, 148);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.x {
    padding: 13px;
    cursor: pointer;
    background-color: rgb(252, 250, 217);
    color: rgb(182, 180, 148);
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
    font-size: 1em;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: all 0.2s ease;
}

.x:hover {
    color: rgb(221, 25, 25);
}


#calcButton,
.backBtn {
    padding: 13px;
    border-radius: 2px;
    width: 170px;
    border: none;
    outline: none;
    background-color: rgb(87, 83, 83);
    color: rgb(252, 250, 217);
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 1px rgb(0, 0, 0);
    font-size: 0.9rem;
}

.backBtn {
    width: 23%;
}

#calcButton:hover,
.backBtn:hover {
    background-color: rgb(124, 120, 120);
}

#calcButton:active,
.backBtn:active {
    box-shadow: none;
    margin-top: 4px;
    background-color: rgb(87, 83, 83);
}

#result {
    margin-top: 130px;
    display: none;
}

h2 {
    color: rgb(252, 250, 217);
    font-size: 3.3rem;
    font-family: myOtherFont;
    text-shadow: 4px 4px 0px rgb(153, 8, 8);
    margin-bottom: 10px;
}

span {
    padding: 13px;
    width: 100%;
    margin-bottom: 28px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1em;
    background-color: rgb(252, 250, 217);
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
    display: block;
    text-align: left;
}

.foodLogo {
    float: left;
    margin-right: 10px;
}

